{% if util is not defined %} 
    	
{% set util = '2' %}
{% endif %}
<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Administration</li>
        <li>
            <a href="{{ path('prime_visualisation')}}">Gestion des primes ponctuelles</a>
        </li>
        <li>
            Gestion Comptable (En cours de livraison)
        </li>
        
        <li><a href="http://localhost:8888/bitane/test/pointage.php?util={{ util }}">Redirection vers  V1.0</a></li>
        <li>
            <a href="../../../../chiffreadmin.php?util={{ util }}">Resultat des equipes</a>
        </li>
        <li>
            <a href="../../../../tableau.php?util={{ util }}"> Tableau des équipes</a>
        </li>
        <li>
            <a href="../../../../horaire.php?util={{ util }}">Gestion des horaires TA</a>
        </li>
        <li>
            <a href="../../../../util.php?util={{ util }}"> Gestion des Utilisateurs</a>
        </li>
        <li>
            <a href="../../../../util.php?util={{ util }}"> Gestion des Utilisateurs</a>
        </li>
        <li><a href="../../../../pointage.php?util={{ util }}" class="alert btn-warning">Retour Menu Utilisateur</a></li>
    </ul>
</div>

